<div class="container">
  <div class="row">
    <div class="col-md-3 mb-2">
      <button (click)="makePayment(10)" class="btn btn-success btn-block">Recarregar R$10,00</button>
    </div>
    <div class="col-md-3 mb-2">
      <button (click)="makePayment(15)" class="btn btn-success btn-block">Recarregar R$15,00</button>
    </div>
    <div class="col-md-3 mb-2">
      <button (click)="makePayment(20)" class="btn btn-success btn-block">Recarregar R$20,00</button>
    </div>
    <div class="col-md-3 mb-2">
      <button (click)="makePayment(50)" class="btn btn-success btn-block">Recarregar R$50,00</button>
    </div>
    <div class="col-md-3 mb-2">
      <button (click)="makePayment(100)" class="btn btn-success btn-block">Recarregar R$100,00</button>
    </div>
    <div class="col-md-6 mb-2">
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <input type="text" class="form-control" placeholder="Valor customizado" [(ngModel)]="valorCustomizado">
        <button class="btn btn-success" (click)="makePayment(valorCustomizado)">Recarregar</button>
      </div>
    </div>
  </div>
</div>
